.PrivateTabIndicator-colorSecondary-4 {
    background-color: #1155cc !important;
}
.MuiBox-root {
    padding: 24px 0px !important;
}
.MuiTabs-indicator {
    background-color: #1155cc !important;
}
.jss12 {
    padding: 24px 0px !important;
}