.sidebar{
    display: flex;
    flex-direction: column;
    flex:1;
    height: 100vh;
    z-index: 3;
    background-color:white;
    /* background-color: aquamarine; */
    box-shadow: 5px 0px 15px -8px rgba(0,0,0,0.3);
    overflow:hidden;
}
.brandLabel{
    padding: 0px 8px;
    color: white;
    background-color: #1155cc;
}
.dashboard_navwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width:100%;
  }
  
  .dashboard_navitem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 16px;
    color:rgba(82,82,82);

    width: 100%;
  }
  .dashboard_navitem:hover {
    background: #ECF1FB;
    color: #1155cc;
  }
  .navItem{
      text-decoration: none;
      color:rgba(82,82,82);
      font-size: 18px;
      font-weight: 700;
  }
  .dashboard_navitem:hover .navItem{
    color: #1155cc;
  }