@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Righteous&family=Urbanist:wght@400;500;600;700;800&display=swap');
.App, button {
  font-family: 'Raleway', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Urbanist', sans-serif;
  color:rgba(82,82,82);
  font-size: 1rem;
}
.container{
  display: flex;
  height: 100vh;
  overflow:hidden;
}
.otherPage{
  flex: 4;
  width:100%;
  overflow-y: scroll;
}
h1, h2, h3, h4{
  font-family: 'Raleway', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Urbanist', sans-serif;
  margin: 0;
}
h1{
  font-size: 25px;
}
h2{
  font-size:20px;
}
h3{
  font-size: 18px;
  font-weight: 700;
}
h4{
  font-size:16px;
  font-weight:600;
  margin-top:10px;
}
small{
  font-weight:500;
}
